{% extends 'base.html.twig' %}

{% block title %}Ajouter une session{% endblock %}

{% block body %}

{% if edit %}
<h1>Editer une session</h1>
{% else %}
<h1>Ajouter une session</h1>
{% endif %}

{{ form_start(formAddSession) }}
    <div class="row">
        <div class="col-sm">
        {{ form_row(formAddSession.titre) }}
        </div>
    </div>

{{ form_end(formAddSession) }}
{# {{ form(formAddSession) }} #}

{% endblock %}